{% extends 'dashboard/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    {% if not homework_done %}
    <table class="table table-striped table-bordered table-hover table-warning">
        <thead>
            <tr>
                <th>Serial N.</th>
                <th>Subject</th>
                <th>Title</th>
                <th>Description</th>
                <th>Due</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for home in homework %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ home.subjects }}</td>
                <td>{{ home.title|truncatechars:20 }}</td>
                <td>{{ home.description|truncatechars:30 }}</td>
                <td>{{ home.due }}</td>
                <td class="text-center">
                    <form action="{% url 'update_homework' home.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="checkbox" onchange="this.form.submit()"
                            {% if home.is_finished %} checked {% endif %}>
                    </form>
                </td>
                <td><a href="{% url 'delete_homework' home.pk %}"><i class="fa fa-trash fa-2x"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>All homeworks are completed!! Create to have more!!</h4>
{% endif %}
</div>
<div class=" container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Homework</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Create
            </button>
        </div>
    </form>
</div>
{% endblock content %}