<!-- THIS IS THE ACTIVE TEMPLATE -->
{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class='text-center container'>
    <h2>Search Videos in Youtube</h2>
    <p>search videos and select any video to open in youtube</p>
    <form action="" method="post">
        {% csrf_token %}
        <b>{{ form }}</b>
        <button class="btn btn-danger mt-2" type="submit">Search</button>
    </form><br>


{% if results %}
    {% for result in results %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">

                    <div class="col-md-5">
                        <img class="img-fluid" src="{{ result.thumbnail }}" alt="thumbnail">
                    </div>

                    <div class="col-md-7 text-start">
                        <h3 class="p-0 m-0">{{result.title }}</h3>

                        <h5 class="p-0 m-0">{{result.channel }}</h5>

                        <h6 class="p-0 m-1">{{result.description}}</h6>

                        <h6 class="ml-0 mt-3">{{result.duration}}</h6>
                        <h6 class="ml-0 mt-1">{{result.views}}</h6>
                        <h6 class="ml-0 mt-1">{{result.published}}</h6>

                        {% if result.link %}
                            <a href="{{ result.link }}" target="_blank"
                                style="text-decoration: none; color: inherit;">Watch on Youtube
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p class="text-muted mt-4">No results found. Search something valid..</p>
{% endif %}
</section>

{% endblock content %}